{% load static %}

<h3 class="recent-games">Последние матчи</h3>
<div class="scrollable">
        <ul class="league-games">
            {% for matches in league_matches %}
             <ul class="games-list">
                 <h3 class="games-league-name"> {{ matches.0.competition_season.competition.name }} </h3>
                {% for match in matches %}
                <li class="recent-games-list-element">
                    <div class="match">
                        <a href="{% url 'football:match' match.id %}">
                            <span class="score">{{ match.home_score }} <br> {{ match.away_score }}</span>
                        </a>
                        <div class="game-info">
                            <a class="team-info" href="{% url 'football:club' match.home_team.slug %}">
                                <img class="team-info-logo" src="{% static 'football/'|add:match.home_team.logo_url %}" alt="logo">
                                <h3>{{ match.home_team.short_name }}</h3>
                            </a>
                            <a class="team-info" href="{% url 'football:club' match.away_team.slug %}">
                                <img class="team-info-logo" src="{% static 'football/'|add:match.away_team.logo_url %}" alt="logo">
                                <h3>{{ match.away_team.short_name }}</h3>
                            </a>
                        </div>
                    </div>
                </li>
                 {% endfor %}
            </ul>
            {% endfor %}
        </ul>

</div>


