<ul class="match-of-the-day-list">
    <li class="match-of-the-day-team">
        <img src="../Images/manchester-united.png"
            alt="manchester-united"
            class="team-logo">
    </li>
    <li class="match-of-the-day-time">
        <time datetime="2026-02">
            21:45
        </time>
    </li>
    <li class="match-of-the-day-team">
        <img src="../Images/manchester_city.png"
            alt="manchester-united"
            class="team-logo">
    </li>
</ul>
<div class="probability-container">
    <div class="probability-container-element">
        <h2>ПОБЕДА</h2>
        <p>60%</p>
    </div>
    <div class="probability-container-element">
        <h2>НИЧЬЯ</h2>
        <p>60%</p>
    </div>
    <div class="probability-container-element">
        <h2>ПОБЕДА</h2>
        <p>60%</p>
    </div>
</div>