{% load static %}

<div id="up-games" class="upcoming-games border-container">
    <h2>БЛИЖАЙШИЕ МАТЧИ</h2>
    <div class="scrollable">
        <ul class="games-list">
            {% if matches %}
            {% for match in matches %}
            <li class="games-list-element">
                <div class="match">
                    {% if match.is_live %}
                    <span class="game-live-label">● live</span>
                    {% else %}
                    <span class="game-time">{{ match.match_datetime|time:"H:i" }}<br>{{ match.match_datetime|date:"d.m" }}</span>
                    {% endif %}
                    <div class="game-info">
                        <a class="team-info" href="{% url 'football:club' match.home_team.slug %}">
                            <img class="team-info-logo" src="{% static 'football/'|add:match.home_team.logo_url %}" alt="logo">
                            <h3>{{ match.home_team.short_name }}</h3>
                        </a>
                        <a class="team-info" href="{% url 'football:club' match.away_team.slug %}">
                            <img class="team-info-logo" src="{% static 'football/'|add:match.away_team.logo_url %}" alt="logo">
                            <h3>{{ match.away_team.short_name }}</h3>
                        </a>
                    </div>
                    <img src="{% static 'football/icons/heart.svg' %}" alt="в избранное" class="heart">
                </div>
            </li>
            {% endfor %}
            {% else %}
                <span>ИГРЫ НЕ НАЙДЕНЫ</span>
            {% endif %}
        </ul>
    </div>
</div>
