{% load static %}

<div id="w-team" class="upcoming-games border-container">
    <h2>КОМАНДА НЕДЕЛИ</h2>
    <div class="football-pitch">
        <div class="player-with-score goalkeeper">
            <div class="player-round-photo-div">
                <img class="player-round-photo" src="../Images/the-goat.png">
            </div>
            <div class="player-surname">
                Cr. Ronaldo.
            </div>
        </div>
        <div class="player-with-score left-back">
            <div class="player-round-photo-div">
                <img class="player-round-photo" src="../Images/the-goat.png">
            </div>
            <div class="player-surname">
                Vini jr.
            </div>
        </div>
        <div class="player-with-score left-central-back">
            <div class="player-round-photo-div">
                <img class="player-round-photo" src="../Images/the-goat.png">
            </div>
            <div class="player-surname">
                Vini jr.
            </div>
        </div>
        <div class="player-with-score right-central-back">
            <div class="player-round-photo-div">
                <img class="player-round-photo" src="../Images/the-goat.png">
            </div>
            <div class="player-surname">
                Vini jr.
            </div>
        </div>
        <div class="player-with-score right-back">
            <div class="player-round-photo-div">
                <img class="player-round-photo" src="../Images/the-goat.png">
            </div>
            <div class="player-surname">
                Vini jr.
            </div>
        </div>
        <div class="player-with-score left-midfielder">
            <div class="player-round-photo-div">
                <img class="player-round-photo" src="../Images/the-goat.png">
            </div>
            <div class="player-surname">
                Vini jr.
            </div>
        </div>
        <div class="player-with-score central-midfielder">
            <div class="player-round-photo-div">
                <img class="player-round-photo" src="../Images/the-goat.png">
            </div>
            <div class="player-surname">
                Vini jr.
            </div>
        </div>
        <div class="player-with-score right-midfielder">
            <div class="player-round-photo-div">
                <img class="player-round-photo" src="../Images/the-goat.png">
            </div>
            <div class="player-surname">
                Vini jr.
            </div>
        </div>
        <div class="player-with-score left-winger">
            <div class="player-round-photo-div">
                <img class="player-round-photo" src="../Images/the-goat.png">
            </div>
            <div class="player-surname">
                Vini jr.
            </div>
        </div>
        <div class="player-with-score forward">
           <div class="player-round-photo-div">
                <img class="player-round-photo" src="../Images/the-goat.png">
            </div>
            <div class="player-surname">
                Vini jr.
            </div>
        </div>
        <div class="player-with-score right-winger">
            <div class="player-surname">
                Vini jr.
            </div>
            <div class="player-round-photo-div">
                <img class="player-round-photo" src="../Images/the-goat.png">
            </div>
        </div>

        <svg class="penalty-area pitch-line" >
            <path d="M0 150 L0 0 L300 0 L300 150 Z">
            </path>
            <path d="M100 150 L100 115 L200 115 L200 150 Z">
            </path>
        </svg>

    </div>
</div>
